div {
  text-align: center;
}

main {
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;
}

section {
  padding: 20px;
}

.user-desc {
  background: #999999;
}

.user-status {
  background: #cccccc;
}

.user-recommendations {
  background: #999999;
}

@media only screen and (min-width: 640px) {
  main {
    margin-top: 20px;
  }
}