.meal {
    background: #00972e;
    color: white;
    font-family: 'sans', 'Open sans';
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    border: solid 2px black;
    padding: 10px;
}
  
.meal img {
    height: 70px;
    float: left;
    border: black solid 2px;
    border-radius: 100%;
    margin: 10px;
    margin-right: 20px;
    background: white;
    padding: 5px;
}

.meal h3 {
    font-family: 'cursive', 'Indie Flower';
    font-size: 32px;
    text-align: left;
}

.meal ul {
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
}

.nutrient-list {
    text-align: left;
    font-family: 'sans', 'Open Sans';
    font-size: 18px;
}

.nutrient-list button {
    text-align: center;
    background: orange;
}

.meal li {
    display: inline;
    text-indent: none;
}

.meal form {
    text-align: center;
}