nav {
    position: fixed;
    top: -20px;
    width: 100%;
    z-index: 1;
  }

nav ul {
    background: #91f38d;
    padding: 10px;
  }

nav li {
    display: inline;
    font-family: sans-serif;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    padding: 50px;
    color: black;
}