nav {
    position: fixed;
    top: -20px;
    width: 105%;
    z-index: 1;
    left: -5px;
  }

nav ul {
    background: #91f38d;
    padding: 10px;
  }

nav li {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 5px;
}

nav li a {
    text-decoration: none;
    text-align: center;
    color: black;
}

@media only screen and (min-width: 640px) {
    nav li {
        display: inline;
    }
    
    nav li a {
        padding: 50px;
        color: black;
    }
}